<div class="container-fluid no-border" style="margin-top: 55px; height: 55px;">
	<div class="row full-height">
		<div class="col-sm-12 full-height p-t-10 p-l-10 p-r-10 no-scroll" style="background-color: #fbfbfb; border: 1px solid #dedede;" >
			<div class="col-sm-12 p-l-10 p-r-10">
				<ol class="breadcrumb success">
					<li>
						<a href="#">studynaija <sup>&copy;</sup></a>
					</li>
					<li ng-repeat="crumb in breadcrumbs">
						<a href="#" ng-bind="crumb"></a>
					</li>
				</ol>
			</div>
		</div>		
	</div>
</div>