.border-1x {border: 1px solid!important; }
.border-5x {border: 5px solid!important; }

.border-1r {border-radius: 1px!important; }
.border-5r {border-radius: 5px!important; }
.border-10r {border-radius: 10px!important; }
.border-15r {border-radius: 25px!important; }
.border-20r {border-radius: 20px!important; }
.border-25r {border-radius: 25px!important; }
.border-30r {border-radius: 30px!important; }

.border-light-brown { border-color: #faebd7!important; }
.border-ash { border:1px solid #DEDEDE!important; }
.border-red { border: 1px solid red!important; }
.border-green { border: 1px solid green!important; }

.only-bottom-border { border-top:none; border-left: none; border-right: none;}
