/* === Normalize === */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: 700;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

.center-block {
    float: none;
}


/* === Gridism === */

.grid,
.col {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    display: block;
    clear: both;
}

.grid .col {
    float: left;
    width: 100%;
    padding: 0 20px;
}

.grid .col:first-child {
    padding-left: 20px;
}

.grid .col:last-child {
    padding-right: 20px;
}

.col .col:first-child {
    padding-left: 0;
}

.col .col:last-child {
    padding-right: 0;
}

.col .grid:first-child > .col {
    padding-top: 0;
}

.col .grid:last-child > .col {
    padding-bottom: 0;
}

.no-gutters .col,
.col.no-gutters {
    padding: 0;
}

.wrap .grid,
.grid.wrap {
    max-width: 915px;
    margin: 0 auto;
}

.grid .w-1-1 {
    width: 100%;
}

.grid .w-1-2 {
    width: 50%;
}

.grid .w-1-3 {
    width: 33.3332%;
}

.grid .w-2-3 {
    width: 66.6665%;
}

.grid .w-1-4 {
    width: 25%;
}

.grid .w-3-4 {
    width: 75%;
}

.grid .w-1-5 {
    width: 20%;
}

.grid .w-2-5 {
    width: 40%;
}

.grid .w-3-5 {
    width: 60%;
}

.grid .w-4-5 {
    width: 80%;
}

.grid {
    *zoom: 1;
}

.grid:before,
.grid:after {
    display: table;
    content: "";
    line-height: 0;
}

.grid:after {
    clear: both;
}

.grid .pull-left,
.pull-left {
    float: left;
}

.grid .pull-right,
.pull-right {
    float: right;
}

@media screen and (max-width: 568px) {
    .grid .col {
        padding-left: 20px;
        padding-right: 20px;
    }
    .col .grid .col {
        padding-left: 0;
        padding-right: 0;
    }
}

@font-face {
    font-family: 'proxima_nova';
    src: url('fonts/proximanova-light-webfont.eot');
    src: url('fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-light-webfont.woff') format('woff'), url('fonts/proximanova-light-webfont.ttf') format('truetype'), url('fonts/proximanova-light-webfont.svg#proxima_nova_rgthin') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova';
    src: url('fonts/proximanova-regular-webfont.eot');
    src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-regular-webfont.woff') format('woff'), url('fonts/proximanova-regular-webfont.ttf') format('truetype'), url('fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova';
    src: url('fonts/proximanova-bold-webfont.eot');
    src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-bold-webfont.woff') format('woff'), url('fonts/proximanova-bold-webfont.ttf') format('truetype'), url('fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

.wrap .grid {
    width: 940p;
    min-width: 940p;
    max-width: 940p;
}

html,
body {
    font-family: 'proxima_nova', sans-serif;
    backgrund: #f7f8f8;
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    font-size: 16px;
}

.color-bar {
    background: url("../img/colored.png") top center;
    height: 3px;
    width: 100%;
    z-index: 9;
}

.wrap {
    height: 100%;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    content: '';
    clear: both;
    height: 1px;
    visibility: hidden;
    display: block;
}

a {
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: #6f7c82;
}

a:hover {
    text-decoration: underline;
}

::selection {
    background: #3cb25b;
    color: #fff;
}

::-moz-selection {
    background: #3cb25b;
    color: #fff;
}


/* === Nav === */

.header {
    position: absolute;
    height: 70px;
    width: 100%;
    z-index: 100;
}

.header .logo {
    background: url("../img/sprite.png") no-repeat -5px -113px;
    text-indent: -900em;
    margin-top: 20px;
    height: 50px;
    width: 185px;
    float: left;
}

.header .header-title {
    color: rgba(255, 255, 255, 0.64);
    line-height: 85px;
    margin-left: 5px;
}

@media all and (max-width: 480px) {
    .header .logo {
        width: 50px;
    }
}

.header .logo.logo-green {
    background-position: -5px -242px;
}

.header .singlelogo {
    background-image: url("../img/paystack_single.png");
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -900em;
    margin-top: 20px;
    height: 45px;
    width: 43px;
    float: left;
}

.header .logo:hover {
    opacity: .85;
}

.mobile-nav {
    display: block;
    height: 30px;
    width: 30px;
    font-size: 25px;
    color: #fff;
    float: right;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 30px;
    display: none;
}

.header nav.menu {
    margin-top: 30px;
    float: right;
    transition: .3s;
}

.header nav.menu ul {
    padding: 0;
    margin: 0;
}

.header nav.menu li {
    list-style: none;
    float: left;
}

.header nav.menu li a {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    padding: 0 10px;
    line-height: 30px;
    display: inline-block;
    border: solid 2px transparent;
    margin-left: 10px;
}

.header nav.menu li a.active {
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
}

.sign-in-btn {
    padding: 0 20px;
}

.header nav.menu li a.link-rounded {
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.header nav.menu li a.active {
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    font-weight: bold;
}

.header nav.menu li a:hover {
    color: rgba(255, 255, 255, 0.9);
}

@media all and (max-width: 640px) {
    .header nav.menu li a,
    .header nav.menu li a.active {
        margin-left: 0;
        color: #E6E6E6;
        text-transform: none;
        font-size: 20px;
        font-weight: 300;
    }
}

.header nav.menu li button.login {
    -webkit-appearance: none;
    background: #44b66a;
    background-color: #44b66a;
    background: -moz-linear-gradient(top, #44b66a 0%, #40ad57 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #44b66a), color-stop(100%, #40ad57));
    background: -webkit-linear-gradient(top, #44b66a 0%, #40ad57 100%);
    background: -o-linear-gradient(top, #44b66a 0%, #40ad57 100%);
    background: -ms-linear-gradient(top, #44b66a 0%, #40ad57 100%);
    background: linear-gradient(to bottom, #44b66a 0%, #40ad57 100%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.18), 1px 1px 1px rgba(0, 0, 0, 0.12);
    text-transform: uppercase;
    border-radius: 3px;
    margin-left: 10px;
    padding: 7px 13px;
    line-height: 18px;
    outline: none;
    border: none;
    float: left;
    color: #fff;
}

.header nav.menu li button.login:hover,
.header nav.menu li button.login:focus,
.header nav.menu li button.login:active {
    background: #44b66a;
}


/* === Donation Form === */

.donation-form {
    position: relative;
    clear: both;
}

.donation-form .form-control {
    background: none;
    font-size: 16px;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    border-radius: 2px;
    margin-bottom: 10px;
    color: white;
}

.donation-form .form-control:-webkit-autofill {
    color: none;
}

.donation-form .help-block {
    font-size: 12px;
    text-align: right;
    text-shadow: 0 0 0;
    padding-right: 16px;
}

.donation-form label {
    font-size: 75%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.pay-thanks {
    border-radius: 100px;
    height: 100px;
    width: 100px;
    color: #006c71;
    background: #fff;
    text-shadow: 0 0 0;
    font-size: 50px;
    padding-top: 25px;
}

@media all and (min-width: 768px) {
    .donation-form .form-control {
        padding-left: 180px;
    }
    .donation-form label {
        position: absolute;
        text-align: right;
        width: 165px;
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
        boder-right: solid 1px rgba(255, 255, 255, 0.55);
        font-weight: 600;
    }
    .donation-form.has-error label,
    .donation-form.has-error .help-block {
        color: #f29900;
    }
}

@media all and (max-width: 640px) {
    .text-center-sm {
        text-align: center;
    }
}


/* === Hero === */

.hero-overlay {
    background-color: #0e1c2c;
    background: -webkit-radial-gradient(circle farthest-corner at right bottom, #0971ce 0%, #0862a5 28%, #10283f 79%, #0e1c2c 100%);
    background: -moz-radial-gradient(circle farthest-corner at right bottom, #0971ce 0%, #0862a5 28%, #10283f 79%, #0e1c2c 100%);
    background: -o-radial-gradient(circle farthest-corner at right bottom, #0971ce 0%, #0862a5 28%, #10283f 79%, #0e1c2c 100%);
    background: -ms-radial-gradient(circle farthest-corner at right bottom, #0971ce 0%, #0862a5 28%, #10283f 79%, #0e1c2c 100%);
    background: radial-gradient(circle farthest-corner at right bottom, #0971ce 0%, #0862a5 28%, #10283f 79%, #0e1c2c 100%);
    /* dark */
    height: 100%;
    max-height: 800px;
}

#canvas {
    position: absolute;
}

.hero {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    paddng: 200px 0 40px;
    position: relative;
    font-size: 1.1rem;
    overflow: hidden;
    color: #fff;
    height: 100%;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.hero:after {
    content: "";
    height: 100%;
    min-height: 660px;
    width: 33%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/canvass.png) no-repeat left center;
    background-size: auto 100%;
    z-index: 1;
    pointer-events: none;
    opacity: 0.3;
}

.hero .container {
    position: relative;
    height: 100%;
}

.hero-content {
    position: absolute;
    top: 30%;
    z-index: 2;
}

.hero-overlay.no-bg {
    backgound: #0e1c2c;
    backround: -moz-linear-gradient(-45deg, #0e1c2c 0%, #0e1c2c 25%, #0e1c2c 62%, #0862a5 100%);
    backgound: -webkit-linear-gradient(-45deg, #0e1c2c 0%, #0e1c2c 25%, #0e1c2c 62%, #0862a5 100%);
    backround: linear-gradient(135deg, #0e1c2c 0%, #0e1c2c 25%, #0e1c2c 62%, #0862a5 100%);
    filer: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0e1c2c', endColorstr='#0862a5', GradientType=1);
    height: auto;
    padding-bottom: 30px;
    background: radial-gradient(circle farthest-corner at right bottom, #009999 0%, #006c71 28%, #204454 79%, #1c3a4b 100%);
    /* dark */
}

.hero.no-bg {
    padding-top: 160px;
    padding-bottom: 0px;
    height: auto;
    background: none;
    box-shadow: 0 0 0;
}

.hero.no-bg:after {
    content: none;
}

.static-header {
    position: relative;
    background: #0e1c2c;
    height: 85px;
}

.static-header .logo {
    width: 50px;
}

.static-content {
    padding: 50px 0 100px;
    width: 90%;
    max-width: 700px;
}

.static-content h1 {
    text-align: center;
}

.static-content p, .static-content li {
    color: #212121;
    line-height: 1.8em;
}

.static-content a {
    color: #0862A5;
}

.hero a {
    color: white;
    font-weight: bold;
}

.hero h1 {
    margin: 0 0 15px;
    font-weight: 300;
    font-size: 45px;
}

.hero h1.landing-header {
    font-weight: 300;
    font-size: 30px;
    max-width: 620px;
    margin: 0 auto 50px;
    line-height: 1.3;
}

.hero h1.demo-header {
    font-size: 32px;
    text-transform: none;
    font-weight: 300;
    line-height: 1.2;
}

.hero p {
    color: rgba(255, 255, 255, 0.6);
    line-height: 28px;
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 25px;
    boder: 1px solid;
}

.large-btn,
.btn.green-btn {
    -webkit-appearance: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    background: #44b669;
    backround: -moz-linear-gradient(top, #44b669 0%, #40ad57 100%);
    backround: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #44b669), color-stop(100%, #40ad57));
    backround: -webkit-linear-gradient(top, #44b669 0%, #40ad57 100%);
    backround: -o-linear-gradient(top, #44b669 0%, #40ad57 100%);
    bakground: -ms-linear-gradient(top, #44b669 0%, #40ad57 100%);
    bckground: linear-gradient(to bottom, #44b669 0%, #40ad57 100%);
    bx-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.18), 1px 1px 3px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.large-btn {
    border-radius: 3px;
    padding: 18px 28px;
    padding: 17px 26px 15px;
    line-height: normal;
    font-weight: 600;
    font-size: 19px;
    outline: none;
    border: none;
    width: 100%;
    position: relative;
}

.large-btn.trans {
    padding: 17px 26px 15px;
    line-height: normal;
    font-size: 17px;
    border: none;
    background: rgba(255, 255, 255, .08);
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
}

.center {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.large-btn:hover,
.large-btn:focus,
.large-btn:active {
    background: #44b66a;
}

.large-btn.trans:hover,
.large-btn.trans:focus,
.large-btn.trans:active {
    background: rgba(255, 255, 255, .15);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.testimonials .large-btn:hover,
.testimonials .large-btn:focus,
.testimonials.large-btn:active {
    background: #44b66a;
}

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.large-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


/* Pseudo elements for icons */

.large-btn:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.large-btn:before {
    position: absolute;
    height: 100%;
    font-size: 125%;
    line-height: 49px;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.large-btn:before {
    left: 75%;
    opacity: 0;
    top: 0;
}

.large-btn:hover:before {
    left: 78%;
    opacity: 1;
}

.large-btn.icon-arrow-right:before {
    background-image: url("../img/btn-arrow.png");
    background-repeat: no-repeat;
    background-size: 10px 17px;
    margin-top: 15px;
    height: 17px;
    width: 10px;
    content: '';
}

.watch-video {
    border: 4px solid rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    float: left;
}

.watch-video:before {
    background-image: url("../img/play.png");
    background-repeat: no-repeat;
    background-size: 40px;
    position: absolute;
    margin: auto;
    height: 40px;
    width: 40px;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.watch-video img {
    float: left;
}

p.video-text {
    color: rgba(255, 255, 255, 0.9);
    padding-left: 20px;
    padding-top: 12px;
    line-height: 22px;
    font-size: 15px;
    float: left;
}


/* === Feature slider === */

.feature-slider {
    padding: 10px 0 40px;
}

.white {
    background: #fff;
}

.feature-slider img.img {
    border: 1px solid #e5e5e5;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}

.feature-slider .icon {
    background: #fff;
    border-radius: 35px;
    margin: 10px 20px 60px 0;
    padding: 0 18px;
    float: left;
}

.feature-slider .icon:before {
    background-image: url("../img/check@2x.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30px;
    width: 30px;
}

.feature-slider h3 {
    line-height: 30px;
    margin: 0px 0 0;
    font-weight: 500;
    font-size: 23px;
    color: #333333;
    float: left;
    width: 100%;
}

.feature-slider p {
    line-height: 26px;
    margin: 15px 0 0;
    font-size: 16px;
    color: #6e7b82;
    float: left;
    width: 100%;
}

.feature-slider ul {
    margin-top: 20px;
    display: block;
    padding: 30px 0 0;
}

.feature-slider li {
    list-style: none;
    margin: 20px 0;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.9);
}

.feature-slider ol.bjqs-markers {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
}

.feature-slider ol.bjqs-markers a,
.feature-slider ol.bjqs-markers li a {
    float: left;
}

.feature-slider ol.bjqs-markers li a {
    text-indent: -9999px;
    list-style: none;
    background: #9dd6af;
    border-radius: 15px;
    margin-right: 10px;
    height: 11px;
    width: 11px;
}

.feature-slider ol.bjqs-markers li.active-marker a {
    background: #43b466;
}


/* === Features === */

.features {
    border-bottom: 1px solid #eee;
    borer-top: 1px solid #eee;
    background: #fff;
    padding: 60px 0;
}

.features.no-padd {
    padding: 0;
}

.features.ash {
    background: #F5F7F9;
}

.features .grid {
    border: 1px solid #eee;
    padding: 20px;
    border-top: none;
}

.features .grid:last-child {
    margin-bottom: 0;
}

.midline_two {
    border-right: 1px solid #eee;
}

.midline {
    padding-left: 50px;
}

.features h2,
.static-content h1 {
    font-weight: 600;
}

.features h3 {
    line-height: 30px;
    margin: 10px 0;
    font-weight: 500;
    font-size: 19px;
    color: #333333;
    width: 100%;
    color: #0971ce;
}

.big-icon {
    font-size: 30px;
    color: #0971ce;
    margin-top: 20px;
    border: 2px solid;
    border-radius: 80px;
    height: 70px;
    width: 70px;
    display: block;
    text-align: center;
    line-height: 65px;
}

.big-icon.yellow {
    color: #EF8B26;
}

.features a.color-blue,
.color-blue {
    color: #0971ce;
}

.features p {
    line-height: 23px;
    font-size: 15px;
    color: #6e7b82;
    margin-bottom: 20px;
}

.features p.line-height {
    line-height: 30px;
}

.font-120,
p.font-120 {
    font-size: 120%;
}

.features a {
    color: #EF8B26;
    font-size: 105%;
}

.features a:hover {
    color: inherit;
}

.dark-grad {
    background: #0e1c2c;
    color: #fff;
}

.fa.small {
    font-size: 12px;
}

pre {
    border: 0;
    padding: 45px 40px 28px 90px;
    position: relative;
    color: #6e7b82;
    overflow: hidden;
    line-height: 2em;
    overflow-x: auto;
    background: #fff;
    font-size: 13px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    margin: 30px 0 20px;
    word-wrap: normal;
}

pre:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #f5f7f9;
    z-index: 1;
    width: 70px;
    border-right: 1px solid #e8e8e8;
}

pre:after {
    content: "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20";
    text-align: right;
    display: block;
    position: absolute;
    left: 22px;
    top: 45px;
    bottom: 48px;
    overflow: hidden;
    width: 17px;
    color: #6e7b82;
    white-space: pre-wrap;
    z-index: 2;
}

pre .text-danger {
    color: #d41226;
}

pre .text-success {
    color: #228722;
}

.feature-span {
    display: block;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 0.8px;
    margin-bottom: -15px;
    margin-top: 60px;
}

.features.divide {
    background: -webkit-linear-gradient(0deg, #fff 50%, #f5f7f9 50%);
    background: -moz-linear-gradient(0deg, #fff 50%, #f5f7f9 50%);
    background: -o-linear-gradient(0deg, #fff 50%, #f5f7f9 50%);
    background: -ms-linear-gradient(0deg, #fff 50%, #f5f7f9 50%);
    background: linear-gradient(90deg, #fff 50%, #f5f7f9 50%);
}

.feature-divide {
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 400px;
}

.feature-divide:first-child {
    padding-right: 30px;
}

.features .feature-divide h2 {
    font-size: 24px;
}

.hero.no-bg form {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    margin-top: -20px;
    text-shadow: 0 0 0;
    background: none;
    padding-bottom: 20px;
    box-shadow: 0 0 0;
}

form h2 {
    color: #0e1c2c;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
}

.hero.no-bg p {
    font-size: inherit;
}

.donation-form .form-control {
    padding-left: 15px;
    margin: 0;
    border: 0;
    box-shadow: 0 0 0;
    color: rgba(255, 255, 255, 0.9);
}

.donation-form .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.donation-form .form-control:-moz-placeholder {
    /* older Firefox*/
    color: rgba(255, 255, 255, 0.5);
}

.donation-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5);
}

.donation-form .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.donation-form .form-control:focus {
    border: 0;
    box-shadow: 0 0 0;
}

.donation-form label {
    display: block;
    margin: 15px 0 0 15px;
    color: #0971ce;
    color: #0e1c2c;
    color: rgba(255, 255, 255, 0.5);
    display: block;
    height: auto;
    line-height: inherit;
    width: 100%;
    text-align: left;
    padding: 0;
    position: relative;
}

.hero.no-bg .donation-form.form-group {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}


/* === Dummy checkout box === */

.checkout-box {
    border: 1px solid #d8d9db;
    box-shdow: 0 1px 4px 1px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    background: #fafafa;
    max-width: 350px;
    margin: 0 auto;
    position: relative;
}

.play-overlay {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
    border-radius: 5px;
    transition: .3s;
    -webkit-transition: .3s;
}

.play-trigger {
    width: 180px;
    display: block;
    padding: 5px;
    padding-top: 6px;
    color: #0971ce;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    border-radius: 20px;
    border: 2px solid;
    font-weight: bold;
    opacity: 0.8;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -90px;
    transition: .3s;
    -webkit-transition: .3s;
}

.play-overlay.disabled {
    opacity: 0;
}

.play-trigger i {
    margin-right: 6px;
}

.play-trigger:hover {
    -webkit-box-shadow: 0 0 9px rgba(9, 113, 206, 0.5);
    order: 1px solid #d8d8d8;
}

.hero .checkout-box {
    border: 0;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15);
    max-width: 330px;
    margin: -70px 0 0px;
    font-size: 90%;
    float: right;
    width: 330px;
}

.amount-email {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-top: 1px solid #eee;
    padding: 20px 10px 15px;
    background: #fff;
}

.amount-email p {
    color: #999;
    margin-bottom: 0;
}

.amount-email span {
    font-weight: bold;
    color: #44b669;
    font-size: 120%;
    display: block;
}

.merchant-logo {
    width: 110px;
    margin: 0 auto 35px;
    background: #fff;
}

.merchant-logo img {
    width: 100%;
}

.pay-top {
    background: #fff;
    padding-top: 40px;
    border-radius: 5px 5px 0 0;
}

.form-hold {
    height: 250px;
    padding: 25px;
}

.dummy-input {
    position: relative;
    /*    border: 1px solid #e8e8e8;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    border-radius: 3px;
    height: 45px;
    background: #fff;
    padding: 0;
    color: #acacac;*/
}

.dummy-input input {
    border: 1px solid #e8e8e8;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    border-radius: 3px;
    height: 45px;
    background: #fff;
    padding: 0;
    color: #acacac;
    text-indent: 40px;
    cursor: default;
}

.dummy-input input.demo-focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.dummy-input .input-cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0);
}

.dummy-input i {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #777;
}

.dummy-input .paystack-card {
    position: absolute;
    top: 13px;
    right: 10px;
    background: url('../img/credit-cards.png') no-repeat;
    width: 32px;
    height: 20px;
    display: none;
    background-position: 0 -20px;
}

.dummy-input .paystack-card.identified {
    display: block;
}

.dummy-played {
    padding: 20px;
    background: #fafafa;
    border-radius: 0 0 4px 4px;
    text-align: center;
}

.dummy-played img {
    max-width: 50%;
}

.dummy-played > div {
    padding: 0 20px 20px;
}

.dummy-played > div h3 {
    color: #44b669;
}

.cvv-date > div {
    width: 48%;
    float: left;
}

.cvv-date > div:last-child {
    float: right;
}

.checkout-box .btn {
    font-size: 17px;
    padding: 13px 0;
    width: 100%;
    text-transform: capitalize;
    letter-spacing: normal;
    font-weight: 600;
    margin: 0;
    cursor: initial;
}

.features .column {
    float: left;
}

.features .column.second-col {
    float: right;
}

.column.first-col > div {
    border: 1px solid transparent;
    padding-right: 30px;
    position: relative;
}

.column.second-col > div {
    padding-left: 30px;
    border: 1px solid transparent;
    position: relative;
}

.left-right-col > div:before,
.left-right-col > div:after {
    content: '';
    position: absolute;
    background: rgba(232, 232, 232, 1);
    width: 90px;
    height: 1px;
    bottom: 0;
    left: 0;
}

.left-right-col > div:after {
    height: 6px;
    width: 6px;
    border-radius: 7px;
    bottom: -2px;
    left: 90px;
    background: #ddd;
}

.left-right-col.first-col > div:before,
.left-right-col.first-col > div:after {
    left: auto;
    right: 0;
}

.left-right-col.first-col > div:after {
    right: 90px;
}

.left-right-col div:first-child {
    margin: 10px auto 50px;
}

.left-right-col h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 95%;
}

.left-right-col p {
    font-size: 90%;
    opacity: 0.8;
    margin-bottom: 15px;
}

.left-right-col a {
    font-size: 90%;
    margin-bottom: 10px;
    display: block;
    margin-top: -5px;
}

.col-3 {
    width: 29%;
}

.col-5 {
    width: 42%;
}


/* === Testimonials === */

.testimonials {
    padding: 80px 0;
    background: url("../img/pattern-bg.png") no-repeat center;
    background-size: cover;
}

.purple {
    background: url("../img/purple.png") no-repeat center;
    background-size: cover;
}

.topbar {
    padding: 0 0;
    background: url("../img/purple.png") no-repeat center;
    background-size: cover;
}

.testimonials .quote-header {
    text-align: center;
}

.testimonials .quote-header h3,
.topbar h3 {
    line-height: 36px;
    font-weight: 500;
    margin: 0 0 10px;
    font-size: 32px;
    color: #fff;
}

.testimonials .quote-header h3 {
    line-height: 41px;
}

.testimonials .quote-header p {
    line-height: 30px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
}

.testimonials .quote-wrapper {
    border: 1px solid #e5e5e5;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    background: #fff;
    padding: 30px;
}

.testimonials .quote-wrapper p {
    line-height: 22px;
    font-size: 16px;
    color: #6e7b82;
    margin: 0;
}

.testimonials .author-info {
    margin-top: 30px;
}

.testimonials .author-info img {
    border-radius: 30px;
    margin-right: 20px;
    float: left;
}

.testimonials .author-info p {
    line-height: 24px;
    margin: 7px 0 0;
    font-size: 16px;
    color: #333;
    float: left;
    width: 65%;
}

.testimonials .author-info span {
    line-height: 22px;
    margin: 15px 0 0;
    font-size: 13px;
    color: #6e7b82;
}

.call-to-action .btn {
    padding: 12px 40px;
    font-size: 14px;
    margin: 0 10px 10px;
}

.call-to-action .btn-clear {
    color: white;
    border: solid 2px white;
}

.call-to-action .btn-clear:hover {
    background: rgba(255, 255, 255, 0.1);
}

.call-to-action .btn-white {
    background: white;
    border: solid 2px white;
}

.demo-early-access {
    margin-top: 30px;
}

p.demo-success {
    max-width: 300px;
    margin: 0 auto 20px;
}

/* === Logos === */

.logo-section {
    padding: 40px 0 0px;
}

.logos {
    height: 73px;
    background: url(../img/users_new.png) no-repeat;
    background-size: contain;
}

.no-padd .logo-section {
    padding: 30px 0 40px;
}

.logo-section .logos img {
    width: 100%;
    display: block;
}

@media all and (max-width: 640px) {}


/* === Footer === */

.footer {
    background: #fff;
    font-size: 14px;
    color: #aaa;
    padding: 40px 0;
    background: #F5F7F9;
}

.footer.no-col {
    background: #fff;
}

.footer-menu a {
    display: block;
    margin-bottom: 8px;
    opacity: 0.7;
}

.footer-header {
    color: #606060;
    text-transform: uppercase;
    font-weight: 600;
}

.footer-menu a:hover,
.features a {
    text-decoration: none;
}

.footer .social-btns a {
    font-size: 150%;
    padding: 0 8px 10px 0;
    display: inline-block;
}

.footer-logo {
    height: 37px;
    width: 40px;
    background: url(../img/sprite.png) no-repeat -3px -2px;
}

.mb {
    margin-bottom: 20px;
}

.mb3 {
    margin-bottom: 30px;
}

.footer-bottom {
    padding: 20px 30px;
    border-top: solid 1px rgba(0, 0, 0, 0.05);
}

.footer-bottom a {
    color: #095995;
}

@media all and (max-width: 640px) {
    .footer-menu {
        text-align: center;
    }

    .footer-menu a {
        display: inline-block;
        margin-right: 10px;
    }

    .footer-bottom {
        text-align: center;
    }

    .footer-bottom .pull-left, .footer-bottom .pull-right {
        float: none !important;
    }
}


/* === Getting started === */

#getstarted {
    position: relative;
    color: #444;
}

#getstarted .boxer {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 0 auto;
    display: block;
    float: none;
    width: 29%;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f4f4f4));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%);
    border-radius: 4px;
    padding: 20px;
    margin-top: 10px;
    width: 100%;
    text-align: left;
}

#getstarted .w-1-3 .large-btn {
    width: 100%;
}

#getstarted input {
    -webkit-transition: border 0.15s ease-in-out;
    -moz-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
    -webkit-appearance: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03);
    border: 1px solid #ddd;
    margin-bottom: 13px;
    border-radius: 3px;
    padding: 8px 12px;
    font-size: 14px;
    outline: none;
    cursor: text;
    width: 100%;
}

#getstarted input:focus,
#getstarted input:active {
    border: 1px solid #40ae5a;
    box-shadow: 0 0 3px #92c39e;
}

#getstarted input:last-child {
    margin-bottom: 20px;
}

#getstarted input.first {
    float: left;
    width: 49%;
}

#getstarted input.last {
    float: right;
    width: 48%;
}

#getstarted .large-btn {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03);
    border: 1px solid #38a152;
    padding: 14px 20px 15px;
    line-height: 17px;
    font-weight: 600;
    font-size: 22px;
    color: #fff;
    width: 100%;
}

#getstarted h1 {
    line-height: 21px;
    margin: 0 0 18px;
    font-weight: 600;
    font-size: 23px;
    color: #555;
    text-align: left;
    width: 100%;
    display: block;
    clear: both;
    vertical-align: top;
}

#getstarted form {
    display: block;
    clear: both;
}

#getstarted .privacy {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    position: absolute;
    font-size: 12px;
    bottom: -30px;
    margin: 0;
    left: 0;
}

.zoom-in.mfp-ready.mfp-bg {
    background: #2d353a;
    opacity: 0.9;
}

.getstarted {
    text-align: center;
}


/* Login */

#login {
    position: relative;
    color: #444;
}

#login .w-1-3 {
    position: relative;
    margin: 0 auto;
    display: block;
    padding: 0;
    float: none;
    width: 23%;
}

#login .w-1-3 .large-btn {
    width: 100%;
}

#login input {
    -webkit-transition: border 0.1s ease-in-out;
    -moz-transition: border 0.1s ease-in-out;
    -o-transition: border 0.1s ease-in-out;
    transition: border 0.1s ease-in-out;
    -webkit-appearance: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03);
    border: none;
    margin-bottom: 13px;
    border-radius: 3px;
    padding: 10px 12px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    width: 100%;
}

#login .large-btn {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03);
    border: none;
    padding: 14px 20px;
    line-height: 19px;
    font-weight: 600;
    font-size: 22px;
    color: #fff;
}

#login h1 {
    line-height: 21px;
    margin: 0 0 18px;
    font-weight: 600;
    font-size: 23px;
    color: #555;
}

#login button.mfp-close,
#login button.mfp-arrow {
    font-size: 34px;
    color: #fff;
    right: -15px;
    top: -48px;
}


/**
 * Fade-zoom animation for first dialog
 */


/* start state */

.zoom-in .zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}


/* animate in */

.zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


/* animate out */

.zoom-in.mfp-removing .zoom-anim-dialog {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}


/* Dark overlay, start state */

.zoom-in.mfp-bg {
    opacity: 0.001;
    /* Chrome opacity transition bug */
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}


/* animate in */

.zoom-in.mfp-ready.mfp-bg {
    opacity: .92;
}


/* animate out */

.zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}

.hero .content__more-arrow__icon {
    background-repeat: no-repeat;
    background-position: 192px 84px;
    background-image: url(../img/sprite.png);
    background-size: 85px 22px;
    width: 25px;
    height: 13px;
    margin: 10px auto auto;
    -webkit-animation: more-arrow-bounce 0.85s ease-in-out infinite alternate;
    animation: more-arrow-bounce 0.85s ease-in-out infinite alternate;
}

.hero a.content__more-arrow {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 9%;
    left: 50%;
    margin-left: -20px;
    width: 45px;
    -webkit-animation: bounce-arrow .85s linear infinite;
    animation: bounce-arrow .85s linear infinite;
}

.hero a.content__more-arrow img {
    width: 100%;
    display: block;
}

.spacer {
    width: 100%;
    height: 80px;
}

.smallspacer {
    width: 100%;
    height: 30px;
}

nav.tabbar ul {
    padding: 0;
    margin: 0;
}

nav.tabbar ul li {
    list-style: none;
}

nav.tabbar li a {
    float: left;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    margin-right: 20px;
    font-size: 14px;
}

nav.tabbar li:first-child a {
    padding-left: 0;
}

nav.tabbar li a.active {
    color: #fff;
    font-weight: bold;
}

nav.tabbar li a:hover {
    text-decoration: none;
}

.backg {
    background: #f9f9f9;
}

.main {
    background: #f9f9f9;
    padding: 40px;
    min-height: 500px;
}

.video {
    overflow: auto;
    display: block;
}

.navbar-inverse {
    background: none;
    border: none;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border: none;
}

.navbar-collapse {
    border: none;
    box-shadow: none;
}

.navbar-header {
    height: 0;
}

.searchinput input,
.demo-early-access input {
    padding: 0px 20px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #fff;
    color: #000;
    width: 100%;
    height: 55px;
}

.demo-early-access input {
    border-color: #d8d8d8;
}

.searchinput input:focus,
.demo-early-access input:focus {
    outline: 0;
    border: 1px solid #109ac7;
}

.width_50 {
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.not-found {
    width: 500px;
    max-width: 90%;
    margin: 40px auto;
    text-align: center;
}

.not-found p {
    margin: 0 auto 10px;
    max-width: 450px;
    line-height: 1.4;
}

/* Hamburger Icon */

.hamburger {
    width: 25px;
    height: 21px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamburger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 0px;
}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
    top: 8px;
}

.hamburger span:nth-child(4) {
    top: 16px;
}

.hamburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.no-scroll {
    overflow: hidden;
}


/* Responsiveness */

@media (min-width: 1200px) {
    .container {
        width: 980px;
    }
}

@media (max-width: 700px) {
    .inner {
        padding-top: 120px;
    }
    .demo-early-access input {
        margin-bottom: 10px;
    }
    .offsetleft {
        padding-left: 15px;
        padding-right: 0;
    }
}

@media (max-width: 969px) {
    .container {
        width: 90%;
    }
    .hero {
        background-position: center bottom;
    }
}

@media (max-width: 768px) {
    .row-made {
        margin-left: -15px;
        margin-right: -15px;
    }
    .hero-overlay {
        height: auto;
    }
    .hero {
        padding-top: 150px;
        padding-bottom: 100px;
    }
    .hero-content {
        position: static;
    }
    .searchinput input {
        margin-bottom: 10px;
    }
    .hero a.content__more-arrow {
        bottom: -70px;
        margin-left: -19px;
        width: 38px;
    }
    .header nav.menu {
        position: fixed;
        top: 0;
        right: -100%;
        bottom: 0;
        width: 100%;
        background: rgba(41, 41, 41, 0.95);
        border-left: 1px solid #222;
        margin: 0;
        padding: 90px 10px 20px;
        z-index: -1;
    }
    .header nav.menu li {
        float: none;
        padding: 12px;
        border-bottom: 1px solid #444;
    }
    .header nav.menu li a.link-rounded {
        border: 0;
    }
    .menu-footer {
        color: #8C8C8C;
        padding: 20px;
        display: block;
    }
    .mobile-nav {
        display: block;
        z-index: 2;
        position: relative;
    }
    .feature-span {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .features.divide {
        background: -webkit-linear-gradient(260deg, #fff 50%, #f5f7f9 50%);
        background: -moz-linear-gradient(260deg, #fff 50%, #f5f7f9 50%);
        background: -o-linear-gradient(260deg, #fff 50%, #f5f7f9 50%);
        background: -ms-linear-gradient(260deg, #fff 50%, #f5f7f9 50%);
        background: linear-gradient(190deg, #fff 50%, #f5f7f9 50%);
    }
    .midline_two {
        border: 0;
    }
    .feature-divide,
    .feature-divide:first-child {
        padding: 30px 15px;
    }
    .container {
        width: 100%;
    }
    .font-120,
    p.font-120 {
        font-size: 110%;
    }
    .col-3 {
        width: 50%;
    }
    .second-col {
        border-left: 1px solid #e8e8e8;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .col-5 {
        clear: both;
        width: 100%;
    }
}

@media (max-width: 640px) {
    .logos {
        height: 120px;
        background-image: url(../img/users_small.png);
        background-size: 100% auto;
    }
    .logo-section {
        padding: 0;
    }
}

@media (max-width: 580px) {
    .h2,
    h2 {
        font-size: 25px;
    }
    .hero h1,
    .hero p {
        font-size: 18px;
    }
    .hero h1 {
        font-size: 32px;
    }
    .hero.no-bg form {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .col-3 {
        width: 100%;
        float: none;
        border: 0;
        text-align: left;
    }
    .left-right-col div:first-child {
        margin: 0 auto 20px;
    }
    .column.first-col > div,
    .column.second-col > div {
        padding: 0 15px;
    }
    .left-right-col div {
        text-align: left;
    }
    .left-right-col > div:before,
    .left-right-col > div:after {
        content: none;
    }
    .logos {
        height: 90px;
    }
}

.address-panel {
    padding: 10px 10px 10px 60px;
    position: relative;
    border: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.02);
    border-radius: 3px;
}

.flag {
    display: inline-block;
    width: 25px;
    height: 17px;
    position: absolute;
    top: 37%;
    left: 18px;
    background: url('/assets/website/img/flags.png');
}

.flag.america {
    background-position: 0 0;
}

.flag.nigeria {
    background-position: 0 -17px;
}

@media (min--moz-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(-webkit-min-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2) {
    .flag {
        background-image: url('/assets/website/img/flags@2x.png');
        background-size: 25px 34px;
    }

    .footer-logo,
    .header .logo {
        background-image: url(../img/sprite@2x.png);
        background-size: 300px 300px;
    }
    .heo {
        background-image: url(../img/canvas.png);
        background-size: 650px 660px;
    }
}
