<ng-include src="templates.header"></ng-include>
<ng-include src="templates.ordinary_bar" ng-init="setCrumbs (['administrator', 'news']);"></ng-include>

<div class="container-fluid m-l-10 m-r-10 p-t-10 no-border">
	<div class="row ">
		<ng-include src="templates.admin_side" ></ng-include>

		<div class="col-sm-10 p-r-05 p-l-05">
			<div class="col-sm-6 p-l-05 p-r-05">
				<form name="form" enctype="multipart/form-data" novalidate>
					<div class="panel m-b-05">
						<div class="panel-body">
							<div class="col-sm-12 input-box m-b-10">
								<label for="name" class="text-green font-12">Subject:</label><br>
								<input class="font-12" required name="subject" type="text" placeholder="enter the subject" 
									ng-model="news.subject" />
								<div ng-show="form.$submitted">
									<small class="text-red" ng-show="form.subject.$error.required">enter a subject!</small>
									<small class="text-red" ng-show="form.subject.$error.minLenght < 2">enter a subject!</small>
								</div>
							</div>
							
							<div class="col-sm-12 input-box m-b-10">
								<label for="name" class="text-green font-12">
									Resources : 
									<small class="font-12 text-info">images, videos etc not more than 10MB in size</small>

								</label><br>
								<span class="btn btn-sm btn-default" ngf-max-total-size="10MB" ngf-select="uploadNewsResources ($files);" multiple 
									ng-model="news.files" accept="image/*">
									<i class="fa fa-camera text-info"></i>
									<span class="text-600 font-12 text-info"> 
										&nbsp; select Images 
									</span>
								</span>
								<span ng-if="news.files.length > 0" class="text-green font-12 bold text-underline">{{ news.files.length + ' Files Selected' }}</span>

								<div class="flex" ng-show="newsDetails.files.length > 0" style="overflow-x:auto;">
									<img ngf-thumbnail="img" ng-repeat="img in newsDetails.files track by $index"
										class=" m-t-10 padding-05 img-responsive img-fluid img-rounded" 
										style="height:100px; width:100px;"/>
								</div>
							</div>
							
							<div class="col-sm-12 input-box m-b-10">
								<label for="name" class="text-green font-12">Details:</label><br>
								<textarea rows="10" class="font-12" name="details" placeholder="enter news details" ng-model="news.details">
								</textarea>
							</div>
							
							<div class="btn-group" ng-if="news.subject">
								<button class="btn btn-success btn-sm text-500" ng-click="commitNews (form);" type="submit">
									commit change(s)
								</button>
								<span class="btn btn-danger btn-sm text-600" ng-click="clearNews ();">
									clear
								</span>
								
							</div>
							
						</div>
					</div>
				</form>
			</div>
			
			<div class="col-sm-6 p-l-05 p-r-05">				
				<div class="panel m-b-05">
					<div class="panel-body">
						<div class="col-sm-12 input-box m-b-10">
							<input class="font-12" placeholder="news search..." 
								ng-model="newsSearch" />
						</div>
						<div class="col-sm-12 padding-00">
							<ul class="list-group">
								<li class="list-group-item" dir-paginate="n in app.news | filter:newsSearch | itemsPerPage : 20" >
									<div class="pull-right">
										<p class="font-11 text-ash-01" ng-bind="n.date | date"></p>
										<p class="text-red fa fa-times pull-right m-t-10" ng-click="dropNews (n);"></p>
									</div>
									
									<h4 ng-click="editNews ($index);" class="hand bold">
										<p class="text-600 font-12 p-b-10 text-green text-uppercase" ng-bind="n.subject"></p>
										<small class="text-600 font-12" ng-bind-html="n.details | htmlToPlaintextTruncate:200"></small>
									</h4>
									<div class="flex" ng-show="n.resources.length > 0 || n.news_resources.length > 0" style="overflow-x:auto;">
										<img ng-src="{{ '/uploads/news/' +img.resource }}" ng-repeat="img in n.resources || n.news_resources track by $index"
											class=" m-t-10 padding-05 img-responsive img-fluid img-rounded" 
											style="height:50px; width:50px;"/>
									</div>
								</li>
							</ul>
							<dir-pagination-controls></dir-pagination-controls>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>