<ng-include src="templates.header"></ng-include>
<ng-include src="templates.ordinary_bar" ng-init="setCrumbs (['administrator', 'Scholarships']);"></ng-include>

<div class="container-fluid m-l-10 m-r-10 p-t-10 no-border">
	<div class="row ">
		<ng-include src="templates.admin_side" ></ng-include>

		<div class="col-sm-10 p-r-05 p-l-05" >
			<div class="col-sm-4 m-b-05 p-l-05 p-r-05">
				<div class="panel m-b-05">
					<h5 class="panel-heading m-b-00 m-t-00 text-green bold">
						Scholarships
						<span ng-class="['label', 'label-success', 'float-right', 'text-100']" ng-bind="app.scholarships.length"></span>
					</h5>
					<div class="panel-body p-t-00">
						<ul class="list-group">
							<li class="list-group-item flex" dir-paginate="n in app.scholarships | itemsPerPage: 15">
								<div class="p-t-05 p-l-10 xs-p-t-00">
									<h5 class="m-t-00 m-b-05 font-12 hand" ng-click="selectScholarship (n);">
										<p class="text-uppercase text-blue p-b-05" ng-bind="n.name"></p>
										<small ng-bind-html="n.details | htmlToPlaintextTruncate:200" 
											class="font-12 text-600 text-black p-t-10"></small>
									</h5>
								</div>
								<i class="fa fa-times text-red flex m-l-auto" ng-click="deleteScholarship (n);"></i>
							</li>
						</ul>
					</div>
					<div class="panel-footer text-center p-b-00 p-t-00">
						<dir-pagination-controls></dir-pagination-controls>
					</div>
				</div>
				
			</div>
			
			<div class="col-sm-8 m-b-05 p-r-00 p-l-05 ">
				<form name="form" novalidate>
					<div class="panel m-b-00">
						<h5 class="panel-heading m-b-00 m-t-00 text-600" ng-if="scholarship.id || scholarship.name">
							<button type="submit" class="btn btn-info text-600 btn-sm" ng-click="commitScholarship (form);" >
								commit changes
							</button>
							<span class="btn btn-danger btn-sm text-600" ng-click="clearScholarship ();" >
								clear
							</span>
						</h5>
						<div class="panel-body">
							<div class="col-sm-12 input-box m-b-10">
								<label for="name" class="text-green font-12">Scholarship Title:</label><br>
								<input class="font-12" required name="name" type="text" placeholder="enter the scholarship title" 
									ng-model="scholarship.name" />
								<div ng-show="form.$submitted">
									<small class="text-red" ng-show="form.name.$error.required">enter a title!</small>
								</div>
							</div>
							<div class="col-sm-12 input-box m-b-10">
								<label for="address" class="text-green font-12">Description:</label><br>
								<textarea ng-model="scholarship.details" rows="5" class="font-12" ng-change="display ();"></textarea>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>