

.transparent-background {background: rgba(0, 0, 0, 0)!important;}
.transparent-border {border:rgba(0, 0, 0, 0)!important;}

.no-padding { padding: 0px!important;}
.red-background {background:rgba(122, 122, 0, 0)!important;}

.full-width { width: 100%!important;}
.full-height {height: 100%!important;}

.contain { object-fit: contain!important;}
.cover { object-fit: cover!important;}
.fill { object-fit: fill!important;}
.scale { object-fit: scale-down!important;}

.x-table {
	display: table;
	width: 100%;
	height: 100%;
}

body {background-color: #f5f6f6!important; font-family: "ProximaNovaSW01SC-Thin"!important; overflow-x: hidden;}

.no-m-t {margin-top: 0px!important;}
.no-m-b {margin-bottom: 0px!important;}

.green-dark {color: #2893a9!important;}

.myborder-color: {border: 1px solid #f5f6f6!important;}

.card-bottom {background-color:#fff;}

.x-row { display: table-row!important;  }
.x-col { display: table-column!important;  }
.x-cell { display: table-cell!important;}
.middle { vertical-align: middle!important; }

.absolute { position: absolute!important; }
.relative { position: relative!important; }
.center-text { text-align: center!important; }
.white {color: #FFFFFF!important;}

.float-top {
	z-index: 2!important;
	height: 100%!important;
	width: 100%!important;
}


.background-1  { background-image: url("../images/bg1.jpg"); }
.background-2  { background-image: url("../images/bg2.jpg"); }
.background-3  { background-image: url("../images/bg3.jpg"); }
.background-4  { background-image: url("../images/bg4.jpg"); }
.background-5  { background-image: url("../images/bg5.jpg"); }
.background-6  { background-image: url("../images/bg6.jpg"); }


.background-x1  { background-image: url("imgs/cleaning.jpg"); }
.background-x2  { background-image: url("imgs/deliveries.jpg"); }
.background-x3  { background-image: url("imgs/handy_man.jpg"); }
.background-x4  { background-image: url("imgs/moving2.jpg"); }
.background-x5  { background-image: url("imgs/general_help.jpg"); }
.background-x6  { background-image: url("imgs/cooking.jpg"); }

.background-01 { background-image: url("http://placehold.it/800x300"); }

.padding-100 { padding: 100px!important;}
.padding-50 { padding: 50px!important;}
.padding-20 { padding: 20px!important;}

.p-t-20 {padding-top: 20px !important;}
.p-b-20 {padding-bottom: 20px !important;}

.p-t-50 {padding-top: 50px !important;}
.p-b-50 {padding-bottom: 50px !important;}

.p-t-100 {padding-top: 100px !important;}
.p-b-100 {padding-bottom: 100px !important;}

 .p-r-20 {padding-right: 20px!important;}

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.white-background {background-color: #FFFFFF!important;}

.search-input {
	width: 400px;
	border-radius: 4px;
	padding: 10px;
	color: #6E7B82; 
}

.m-t-210 { margin-top: 210px;}
.m-t-30 { margin-top: 30px;}

.myheading-h5 { font-weight: bold; font-size: 22px;}

.myfont-p-18 {font-size: 18px; }
.myfont-p-16 {font-size: 16px; }
.bold {font-weight: bold;}
.green {color: green; }


.card .card-img {
	height: 250px;
}

.card > .card-img > div {
	background-size: cover;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.x30-top {
	top: 30%!important;
}


html {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.green-background {
	background: radial-gradient("circle farthest-corner at right bottom", #09ce62 0%, #08a55b 48%, #323f10 79%, #183204 100%);
}

.nav>li>a:hover {
	background-color: rgba(255, 255, 255, 0.1)!important;
}

.navbar-below {
	background-color: rgba(186, 104, 200, 0.6)!important;
}

.purple {color: rgb(186, 104, 200)!important;}
.purple-dark { color: #6A1B9A!important; }

