@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(../fonts/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {font-family: "ProximaNovaSW01SC-Thin";
    src: url("../fonts/b5e2b75af1aa994cb39243a656efedb9.eot"); /* IE9*/
    src: url("../fonts/b5e2b75af1aa994cb39243a656efedb9.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/b5e2b75af1aa994cb39243a656efedb9.woff2") format("woff2"), /* chrome firefox */
    url("../fonts/b5e2b75af1aa994cb39243a656efedb9.woff") format("woff"), /* chrome firefox */
    url("../fonts/b5e2b75af1aa994cb39243a656efedb9.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("../fonts/b5e2b75af1aa994cb39243a656efedb9.svg#ProximaNovaSW01SC-Thin") format("svg"); /* iOS 4.1- */
}