
.nav-black {border-bottom: 1px solid #ccc!important; background-color: #FFFFFF!important;}
.nav-black a { color: #000000!important; }
 
.margin-base-vertical { margin: 40px 0px; }

.text-center { text-align:center; }




