body {font-weight : 600!important;}
.brand-color { color: rgb(151, 15, 43)!important; }

.full-height {
 
    padding: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%!important;
    font-size: 12px;
    overflow: auto;
}

.auto-scroll { overflow: auto; }
.no-scroll { overflow: hidden; }
.float-right {float: right!important;}

.ellipsis { overflow: hidden!important; text-overflow: ellipsis; }

.hidden { visibility: hidden; width: 0px!important; height: 0px!important;}
.no-radius { border-radius: 0!important;}

.flex { display: flex; }
.no-padding { padding: 0px!important; }
.no-margin { margin: 0px!important; }
.no-border { border: 0px !important; }
.no-shadow { -webkit-box-shadow: none!important; box-shadow:none!important; }
.container-fluid { border: 1px solid #dedede; }
.no-border-left {border-left: none!important;}

.padding-00 { padding: 0px!important; }
.padding-05 { padding: 5px; }
.padding-10 { padding: 10px; }
.padding-15 { padding: 15px; }
.padding-20 { padding: 20px; }
.padding-25 { padding: 25px; }
.padding-30 { padding: 30px; }
.padding-35 { padding: 35px; }
.padding-40 { padding: 40px; }
.padding-45 { padding: 45px; }
.padding-50 { padding: 50px; }
.padding-55 { padding: 55px; }
.padding-60 { padding: 60px; }

.p-t-00 {padding-top: 0px!important;}
.p-t-05 {padding-top: 05px!important;}
.p-t-10 {padding-top: 10px!important;}
.p-t-15 {padding-top: 15px!important;}
.p-t-20 {padding-top: 20px!important;}
.p-t-25 {padding-top: 25px!important;}
.p-t-30 {padding-top: 30px!important;}
.p-t-35 {padding-top: 35px!important;}
.p-t-40 {padding-top: 40px!important;}
.p-t-45 {padding-top: 45px!important;}
.p-t-50 {padding-top: 50px!important;}
.p-t-55 {padding-top: 55px!important;}
.p-t-60 {padding-top: 60px!important;}
.p-t-65 {padding-top: 65px!important;}
.p-t-70 {padding-top: 70px!important;}
.p-t-75 {padding-top: 75px!important;}
.p-t-80 {padding-top: 80px!important;}
.p-t-85 {padding-top: 85px!important;}
.p-t-90 {padding-top: 90px!important;}
.p-t-95 {padding-top: 95px!important;}
.p-t-100 {padding-top: 100px!important;}


.p-r-00 {padding-right: 0px!important;}
.p-r-05 {padding-right: 05px!important;}
.p-r-10 {padding-right: 10px!important;}
.p-r-15 {padding-right: 15px!important;}
.p-r-20 {padding-right: 20px!important;}
.p-r-25 {padding-right: 25px!important;}
.p-r-30 {padding-right: 30px!important;}
.p-r-35 {padding-right: 35px!important;}
.p-r-40 {padding-right: 40px!important;}
.p-r-45 {padding-right: 45px!important;}
.p-r-50 {padding-right: 50px!important;}
.p-r-55 {padding-right: 55px!important;}
.p-r-60 {padding-right: 60px!important;}
.p-r-65 {padding-right: 65px!important;}
.p-r-70 {padding-right: 70px!important;}
.p-r-75 {padding-right: 75px!important;}
.p-r-80 {padding-right: 80px!important;}
.p-r-85 {padding-right: 85px!important;}
.p-r-90 {padding-right: 90px!important;}
.p-r-95 {padding-right: 95px!important;}
.p-r-100 {padding-right: 100px!important;}

.p-l-00 {padding-left: 0px!important;}
.p-l-05 {padding-left: 05px!important;}
.p-l-10 {padding-left: 10px!important;}
.p-l-15 {padding-left: 15px!important;}
.p-l-20 {padding-left: 20px!important;}
.p-l-25 {padding-left: 25px!important;}
.p-l-30 {padding-left: 30px!important;}
.p-l-35 {padding-left: 35px!important;}
.p-l-40 {padding-left: 40px!important;}
.p-l-45 {padding-left: 45px!important;}
.p-l-50 {padding-left: 50px!important;}
.p-l-55 {padding-left: 55px!important;}
.p-l-60 {padding-left: 60px!important;}
.p-l-65 {padding-left: 65px!important;}
.p-l-70 {padding-left: 70px!important;}
.p-l-75 {padding-left: 75px!important;}
.p-l-80 {padding-left: 80px!important;}
.p-l-85 {padding-left: 85px!important;}
.p-l-90 {padding-left: 90px!important;}
.p-l-95 {padding-left: 95px!important;}
.p-l-100 {padding-left: 100px!important;}

.p-b-00 {padding-bottom: 0px!important;}
.p-b-05 {padding-bottom: 05px!important;}
.p-b-10 {padding-bottom: 10px!important;}
.p-b-15 {padding-bottom: 15px!important;}
.p-b-20 {padding-bottom: 20px!important;}
.p-b-25 {padding-bottom: 25px!important;}
.p-b-30 {padding-bottom: 30px!important;}
.p-b-35 {padding-bottom: 35px!important;}
.p-b-40 {padding-bottom: 40px!important;}
.p-b-45 {padding-bottom: 45px!important;}
.p-b-50 {padding-bottom: 50px!important;}
.p-b-55 {padding-bottom: 55px!important;}
.p-b-60 {padding-bottom: 60px!important;}
.p-b-65 {padding-bottom: 65px!important;}
.p-b-70 {padding-bottom: 70px!important;}
.p-b-75 {padding-bottom: 75px!important;}
.p-b-80 {padding-bottom: 80px!important;}
.p-b-85 {padding-bottom: 85px!important;}
.p-b-90 {padding-bottom: 90px!important;}
.p-b-95 {padding-bottom: 95px!important;}
.p-b-100 {padding-bottom: 100px!important;}


.m-t-00 {margin-top: 0px!important;}
.m-t-05 {margin-top: 05px!important;}
.m-t-10 {margin-top: 10px!important;}
.m-t-15 {margin-top: 15px!important;}
.m-t-20 {margin-top: 20px!important;}
.m-t-25 {margin-top: 25px!important;}
.m-t-30 {margin-top: 30px!important;}
.m-t-35 {margin-top: 35px!important;}
.m-t-40 {margin-top: 40px!important;}
.m-t-45 {margin-top: 45px!important;}
.m-t-50 {margin-top: 50px!important;}
.m-t-55 {margin-top: 55px!important;}
.m-t-60 {margin-top: 60px!important;}
.m-t-65 {margin-top: 65px!important;}
.m-t-70 {margin-top: 70px!important;}
.m-t-75 {margin-top: 75px!important;}
.m-t-80 {margin-top: 80px!important;}
.m-t-85 {margin-top: 85px!important;}
.m-t-90 {margin-top: 90px!important;}
.m-t-95 {margin-top: 95px!important;}
.m-t-100 {margin-top: 100px!important;}
.m-t-200 {margin-top: 200px!important;}


.m-r-00 {margin-right: 0px!important;}
.m-r-05 {margin-right: 05px!important;}
.m-r-10 {margin-right: 10px!important;}
.m-r-15 {margin-right: 15px!important;}
.m-r-20 {margin-right: 20px!important;}
.m-r-25 {margin-right: 25px!important;}
.m-r-30 {margin-right: 30px!important;}
.m-r-35 {margin-right: 35px!important;}
.m-r-40 {margin-right: 40px!important;}
.m-r-45 {margin-right: 45px!important;}
.m-r-50 {margin-right: 50px!important;}
.m-r-55 {margin-right: 55px!important;}
.m-r-60 {margin-right: 60px!important;}
.m-r-65 {margin-right: 65px!important;}
.m-r-70 {margin-right: 70px!important;}
.m-r-75 {margin-right: 75px!important;}
.m-r-80 {margin-right: 80px!important;}
.m-r-85 {margin-right: 85px!important;}
.m-r-90 {margin-right: 90px!important;}
.m-r-95 {margin-right: 95px!important;}
.m-r-100 {margin-right: 100px!important;}

.m-l-00 {margin-left: 0px!important;}
.m-l-05 {margin-left: 05px!important;}
.m-l-10 {margin-left: 10px!important;}
.m-l-15 {margin-left: 15px!important;}
.m-l-20 {margin-left: 20px!important;}
.m-l-25 {margin-left: 25px!important;}
.m-l-30 {margin-left: 30px!important;}
.m-l-35 {margin-left: 35px!important;}
.m-l-40 {margin-left: 40px!important;}
.m-l-45 {margin-left: 45px!important;}
.m-l-50 {margin-left: 50px!important;}
.m-l-55 {margin-left: 55px!important;}
.m-l-60 {margin-left: 60px!important;}
.m-l-65 {margin-left: 65px!important;}
.m-l-70 {margin-left: 70px!important;}
.m-l-75 {margin-left: 75px!important;}
.m-l-80 {margin-left: 80px!important;}
.m-l-85 {margin-left: 85px!important;}
.m-l-90 {margin-left: 90px!important;}
.m-l-95 {margin-left: 95px!important;}
.m-l-100 {margin-left: 100px!important;}

.m-b-00 {margin-bottom: 0px!important;}
.m-b-05 {margin-bottom: 5px!important;}
.m-b-10 {margin-bottom: 10px!important;}
.m-b-15 {margin-bottom: 15px!important;}
.m-b-20 {margin-bottom: 20px!important;}
.m-b-25 {margin-bottom: 25px!important;}
.m-b-30 {margin-bottom: 30px!important;}
.m-b-35 {margin-bottom: 35px!important;}
.m-b-40 {margin-bottom: 40px!important;}
.m-b-45 {margin-bottom: 45px!important;}
.m-b-50 {margin-bottom: 50px!important;}
.m-b-55 {margin-bottom: 55px!important;}
.m-b-60 {margin-bottom: 60px!important;}
.m-b-65 {margin-bottom: 65px!important;}
.m-b-70 {margin-bottom: 70px!important;}
.m-b-75 {margin-bottom: 75px!important;}
.m-b-80 {margin-bottom: 80px!important;}
.m-b-85 {margin-bottom: 85px!important;}
.m-b-90 {margin-bottom: 90px!important;}
.m-b-95 {margin-bottom: 95px!important;}
.m-b-100 {margin-bottom: 100px!important;}

.mx-t-05 {margin-top: 05%!important;}
.mx-t-10 {margin-top: 10%!important;}
.mx-t-15 {margin-top: 15%!important;}
.mx-t-20 {margin-top: 20%!important;}
.mx-t-25 {margin-top: 25%!important;}
.mx-t-30 {margin-top: 30%!important;}
.mx-t-35 {margin-top: 35%!important;}
.mx-t-40 {margin-top: 40%!important;}
.mx-t-45 {margin-top: 45%!important;}
.mx-t-50 {margin-top: 50%!important;}
.mx-t-55 {margin-top: 55%!important;}
.mx-t-60 {margin-top: 60%!important;}
.mx-t-65 {margin-top: 65%!important;}
.mx-t-70 {margin-top: 70%!important;}
.mx-t-75 {margin-top: 75%!important;}
.mx-t-80 {margin-top: 80%!important;}
.mx-t-85 {margin-top: 85%!important;}
.mx-t-90 {margin-top: 90%!important;}
.mx-t-95 {margin-top: 95%!important;}
.mx-t-100 {margin-top: 100%!important;}

.mx-r-05 {margin-right: 05%!important;}
.mx-r-10 {margin-right: 10%!important;}
.mx-r-15 {margin-right: 15%!important;}
.mx-r-20 {margin-right: 20%!important;}
.mx-r-25 {margin-right: 25%!important;}
.mx-r-30 {margin-right: 30%!important;}
.mx-r-35 {margin-right: 35%!important;}
.mx-r-40 {margin-right: 40%!important;}
.mx-r-45 {margin-right: 45%!important;}
.mx-r-50 {margin-right: 50%!important;}
.mx-r-55 {margin-right: 55%!important;}
.mx-r-60 {margin-right: 60%!important;}
.mx-r-65 {margin-right: 65%!important;}
.mx-r-70 {margin-right: 70%!important;}
.mx-r-75 {margin-right: 75%!important;}
.mx-r-80 {margin-right: 80%!important;}
.mx-r-85 {margin-right: 85%!important;}
.mx-r-90 {margin-right: 90%!important;}
.mx-r-95 {margin-right: 95%!important;}
.mx-r-100 {margin-right: 100%!important;}

.mx-l-05 {margin-left: 05%!important;}
.mx-l-10 {margin-left: 10%!important;}
.mx-l-15 {margin-left: 15%!important;}
.mx-l-20 {margin-left: 20%!important;}
.mx-l-25 {margin-left: 25%!important;}
.mx-l-30 {margin-left: 30%!important;}
.mx-l-35 {margin-left: 35%!important;}
.mx-l-40 {margin-left: 40%!important;}
.mx-l-45 {margin-left: 45%!important;}
.mx-l-50 {margin-left: 50%!important;}
.mx-l-55 {margin-left: 55%!important;}
.mx-l-60 {margin-left: 60%!important;}
.mx-l-65 {margin-left: 65%!important;}
.mx-l-70 {margin-left: 70%!important;}
.mx-l-75 {margin-left: 75%!important;}
.mx-l-80 {margin-left: 80%!important;}
.mx-l-85 {margin-left: 85%!important;}
.mx-l-90 {margin-left: 90%!important;}
.mx-l-95 {margin-left: 95%!important;}
.mx-l-100 {margin-left: 100%!important;}

.mx-b-05 {margin-bottom: 05%!important;}
.mx-b-10 {margin-bottom: 10%!important;}
.mx-b-15 {margin-bottom: 15%!important;}
.mx-b-20 {margin-bottom: 20%!important;}
.mx-b-25 {margin-bottom: 25%!important;}
.mx-b-30 {margin-bottom: 30%!important;}
.mx-b-35 {margin-bottom: 35%!important;}
.mx-b-40 {margin-bottom: 40%!important;}
.mx-b-45 {margin-bottom: 45%!important;}
.mx-b-50 {margin-bottom: 50%!important;}
.mx-b-55 {margin-bottom: 55%!important;}
.mx-b-60 {margin-bottom: 60%!important;}
.mx-b-65 {margin-bottom: 65%!important;}
.mx-b-70 {margin-bottom: 70%!important;}
.mx-b-75 {margin-bottom: 75%!important;}
.mx-b-80 {margin-bottom: 80%!important;}
.mx-b-85 {margin-bottom: 85%!important;}
.mx-b-90 {margin-bottom: 90%!important;}
.mx-b-95 {margin-bottom: 95%!important;}
.mx-b-100 {margin-bottom: 100%!important;}

.m-l-auto {margin-left: auto!important;}
.m-r-auto {margin-right: auto!important;}

.line-1-3 {line-height : 1.3em!important;}

.height-05 { height: 05%!important; }
.height-10 { height: 10%!important; }
.height-15 { height: 15%!important; }
.height-20 { height: 20%!important; }
.height-25 { height: 25%!important; }
.height-30 { height: 30%!important; }
.height-35 { height: 35%!important; }
.height-40 { height: 40%!important; }
.height-45 { height: 45%!important; }
.height-50 { height: 50%!important; }
.height-55 { height: 55%!important; }
.height-60 { height: 60%!important; }
.height-65 { height: 65%!important; }
.height-70 { height: 70%!important; }
.height-75 { height: 75%!important; }
.height-80 { height: 80%!important; }
.height-85 { height: 85%!important; }
.height-90 { height: 90%!important; }
.height-95 { height: 95%!important; }
.height-100 { height: 100%!important; }

.height-x-05 { height: 05px!important; }
.height-x-10 { height: 10px!important; }
.height-x-15 { height: 15px!important; }
.height-x-20 { height: 20px!important; }
.height-x-25 { height: 25px!important; }
.height-x-30 { height: 30px!important; }
.height-x-35 { height: 35px!important; }
.height-x-40 { height: 40px!important; }
.height-x-45 { height: 45px!important; }
.height-x-50 { height: 50px!important; }
.height-x-55 { height: 55px!important; }
.height-x-60 { height: 60px!important; }
.height-x-65 { height: 65px!important; }
.height-x-70 { height: 70px!important; }
.height-x-75 { height: 75px!important; }
.height-x-80 { height: 80px!important; }
.height-x-85 { height: 85px!important; }
.height-x-90 { height: 90px!important; }
.height-x-95 { height: 95px!important; }
.height-x-100 { height: 100px!important; }
.height-x-150 { height: 150px!important; }
.height-x-200 { height: 200px!important; }
.height-x-250 { height: 250px!important; }

.height-inherit { height: inherit!important; }

.width-10 { width: 10%!important; }
.width-20 { width: 20%!important; }
.width-30 { width: 30%!important; }
.width-40 { width: 40%!important; }
.width-50 { width: 50%!important; }
.width-60 { width: 60%!important; }
.width-70 { width: 70%!important; }
.width-80 { width: 80%!important; }
.width-90 { width: 90%!important; }
.width-100 { width: 100%!important; }

.width-1x { width: 1%!important; }
.width-20x { width: 20px!important; }
.width-25x { width: 25px!important; }
.width-30x { width: 30px!important; }
.width-200x{ width: 200px!important; }
.width-150x{ width: 150px!important; }
.width-250x{ width: 250px!important; }

.align-center { display: flex!important; margin-left: auto; margin-right: auto;}

.text-center { text-align: center; }
.text-right { text-align: right!important; }
.text-left { text-align: left!important; }
.text-justify { text-align: justify!important; }
.text-600 { font-weight: 600!important;}


.right-gallery {
    font-size: 12px;
    font-family: LatoLatin;
    padding-bottom: 10px;
}
.right-gallery .level-1 {
    font-size: 13px!important;
    margin-top: -10px;
}
.right-gallery .level-2 {}

.right-gallery .level-3 {
    font-weight: bold;
}

.right-gallery .level-4 {
    margin-top: -10px;
}

.right-background {
    color: #fff;

}

.xlevel-1 {
    margin-top: -10px;
}
.hand {cursor: pointer; }


.font-10 {font-size: 10px !important; }
.font-11 {font-size: 11px !important; }
.font-12 {font-size: 12px !important; }
.font-13 {font-size: 13px !important; }
.font-14 {font-size: 14px !important; }
.font-15 {font-size: 15px !important; }
.font-20 {font-size: 20px !important; }
.font-30 {font-size: 30px !important; }
.font-50 {font-size: 50px !important; }
.font-90 {font-size: 90px !important; }

.font-normal-100 { font-weight: 100;}
.font-normal-300 { font-weight: 300;}
.font-normal-500 { font-weight: 500;}
.font-normal-900 { font-weight: 900;}

.text-yellow { color: #fbf49c!important; }
.text-white { color: #FFFFFF!important; }
.text-orange { color: #ff6721!important; }
.text-red { color: red;!important; }
.text-green { color: #4caf50;!important; }
.text-black {color: #000!important;}
.text-purple { color: #990099!important; }
.text-blue {color: #009999!important;}
.text-light-brown { color: #faebd7; }
.text-former-brand { color: rgb(0, 153, 153)!important; }
.text-ash-01 {color: #797979!important;}
.text-ash-02 {color: #DEDEDE;}

.text-middle { vertical-align: middle;}

.bottom-footer-btn {
    position: relative;
    height: 150px!important;
    margin-top:calc(100vh - 190px);
    clear: both;
}

.bottom-footer {
    position: relative;
    height: 150px!important;
    margin-top:calc(-40px);
    clear: both;
}

.line-orange {
    border: 0px;
    background-color: #ff6721;
    height: 1px;
    margin-top: -10px;
    margin-bottom: 5px;
}


.line-ash {
    border: 0px;
    background-color: #f1f1f1;
    height: 1px;
    margin-top: -10px;
    margin-bottom: 5px;
}

.line-yellow {
    border: 0px;
    background-color: yellow;
    height: 1px;
    margin-top: -10px;
    margin-bottom: 5px;
}

.line-white {
    border: 0px;
    background-color: rgb(255, 255, 255);
    height: 1px;
    margin-top: -10px;
    margin-bottom: 5px;
}

.bold { font-weight: bold;}

.img-orange-border {
    border: 4px solid #ff6721;
    border-radius: 5px;
}

.myTable {
    display: table;
}

.myTableRow {
    display: table-row;


}

.myTableCell {
    display: table-cell;
    vertical-align: bottom!important;
    width: inherit!important;
}

.img-550-350 { height: 350px!important; width: 550px!important;}
.img-150-150 { height: 150px!important; width: 150px!important;}
.img-350 { height: 180px!important; width: 350px!important;}
.img-450 { height: 180px!important; width: 450px!important;}

.display-table { display: table; }
.display-table-row { display: table-row; }
.display-table-cell { display: table-cell; }

.curly-text-0 { font-family: curly-text; }
.curly-text-1 { font-family: curly-text-1; }
.curly-text-2 { font-family: curly-text-2; }

.btn-orange, .btn-orange:hover, .btn-orange:visited {
	background-color: #ff6721; /* #fe6505; */
	border-color: #ff6721;
	color: #FFFFFF;
}

.footer-line {
	border-top: 1px solid #000!important;
	border-bottom: 1px solid #363b43!important;
	margin: 0px 0px 0px 0px!important;
}


.mce-panel {
	border: 1px solid #dedede!important;
	margin-bottom: 5px!important;
}

p { margin:0px !important; }

.input-clearer {
	background-color: transparent!important;
	border-top: 0px!important;
	border-right: 0px!important;
}

@media only screen and (min-width: 768px) {
	.search-bar {
		margin-top: 55px; height: 55px; 
	}
	.line-divider {
		height: 55px;
	}
	.xs-p-l-05 
}

@media only screen and (max-width: 768px) {
	.search-bar {
		margin-top: 55px; height: 140px;
	}
	.line-divider {
		height: 0px;
	}
	.icon-bar { background-color: black;}
	a.navbar-brand, a#homeBtn {padding-left: 10px!important;}
	
	/*[class*="p-l-"] { padding-left: 0px!important; }
	[class*="p-r-"] { padding-right: 0px!important; }*/
	.xs-p-t-00 { padding-top: 0px !important; }
}

span.logo { font-size: 25px!important;}

span.prefix { 
	border: 1px solid #6CBA35!important; 
	background-color:#6CBA35!important; 
	color: #fff!important;
	padding: 0px 5px!important; 
	margin-right: 5px; 
	border-radius:5px!important;
}

span.suffix {
	color: #7b7b7b;
}

.twitter {color: #00aced; border-color:#00aced!important;}
.facebook { color:#3b5998!important; border-color:#3b5998!important;}
.googleplus { color:#dd4b39!important; border-color:#dd4b39!important;}
.instagram { color:#517fa4 !important; border-color:#517fa4 !important;}
.linkedin { color:#007bb6 !important; border-color:#007bb6 !important;}
